header{
    display: flex;
    justify-content: space-between;
    height: 15%;
    width: 95%;
    margin: 0 auto;
}
header img{
    width: 20%;
    height: fit-content;
}
header > nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
header > nav a{
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    transition: all .3s ease-in-out;
}
header > nav a:hover{
    color: rgb(0, 132, 255);
}
