.rodape{
    margin-top: 10%;
    background-color: var(--footer-color);
    border: 0.3rem solid #000;
    text-align: right;
    padding: 1rem;
}
.rodape h2{
    font-size: 2.5rem;
}
.rodape > nav img{
    height: 4rem;
    width: auto;
    float: right;
}